services:
  postgres:
    image: postgres:18.1-alpine
    container_name: sleepy_postgres
    environment:
      POSTGRES_DB: sleepy
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
